*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10/16 => 62.5%

  @include respond(tab-port) {
    font-size: 50%; // 8/16 => 50%
  }
}

body {
  box-sizing: border-box;
  color: getBaseFont("color");
  background-color: getBaseFont("background");
  min-height: 100vh;
}


// Dark Mode
@include dark-mode {
  body {
    background-color: getColor("dark-blue-200");
    color: getColor("light");
  }
}