// HIDE
.d-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

// SHOW
.d-block {
  display: block !important;
}

.visibility-visible {
  visibility: visible !important;
}

// TEXT TRANSFORMER
.is-upper {
  text-transform: uppercase !important;
}

.is-lower {
  text-transform: lowercase !important;
}

.is-capitalize {
  text-transform: capitalize !important;
}

.is-text-italic {
  font-style: italic !important;
}

// LAYOUT
.container {
  max-width: 1200px;
  height: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;

  @include respond(tab-land) {
    max-width: 92%;
  }
}

// Image
.img-fluid {
  width: 100%;
  height: 100%;
}
