/* Custom Select */
.custom-select {
  height: 50px;
  width: 250px;
  border-radius: 4px;
  padding: 0 2rem;
  font-weight: 600;
  font-size: 1.2rem;
  box-shadow: 3px 1px 10px var(--shadow);
  background: var(--element-bg);
  user-select: none;
  position: relative;
}

.custom-select__selected {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.custom-select__selected p {
  display: inline-block;
  text-transform: capitalize;
  vertical-align: middle;
}

.custom-select__selected i {
  vertical-align: center;
}

.custom-select__dropdown {
  display: none;
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  border-radius: 4px;
  min-height: 120px;
  padding: 0.7rem 0;
  box-shadow: 3px 1px 10px var(--shadow);
  background: var(--element-bg);
  z-index: 1;
}

.custom-select__dropdown--item {
  cursor: pointer;
  min-height: 30px;
  padding: 0 2rem;
  font-size: 1rem;
  transition: background-color 0.3s linear;

  display: flex;
  align-items: center;
}

.custom-select__dropdown--item:hover {
  background-color: var(--hover);
}

.custom-select__dropdown--item:not(:first-child) {
  margin-top: 0.5rem;
}

.custom-select__active {
  background: var(--hover);
}

/* Mobile Responsiveness */
@media screen and (max-width: 765px) {
  .custom-select {
    width: 100%;
  }
}
